
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=c7584b3dc1137dc8af58e6eee93eb51c
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress