
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=d6c8c14c994daff448eefa9a67f19048
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress